#MainContainer {
  height: 100%;
}

#MainSirioContainer {
  display: flex;

  align-items: center;
  height: 100%;
  width: 100%;
}

#MessagesContainer {
  padding: 15px;
  padding-right: 0px;
}
#SirioContainer {
  max-width: 800px;
  min-width: 800px;
  height: 90vh !important;
}

@media screen and (max-width: 960px) {
  #MainSirioContainer {
    justify-content: center;
  }
  #SirioContainer {
    max-width: unset;
    min-width: 100%;
  }
  .cs-main-container {
    width: 100%;
  }
}

#SirioMessage {
  display: flex;
  align-items: center;
}
#SirioMessage img {
  max-width: 50px;
  border-radius: 500px;
  margin-right: 10px;
}

.fa-paperclip {
  display: none;
}

/* Mudanças no CSS padrão do chat scope */

/* Mensagem do usuario */
.cs-message--outgoing .cs-message__content {
  background-color: #99c5d2 !important;
  color: white !important;
}

/* Mensagem do chat */
.cs-message__content {
  background-color: #99c5d2 !important;
  /* color: white !important; */
}

/* Input */
.cs-message-input__content-editor-wrapper {
  background-color: #99c5d2 !important;
}

.cs-message-input__content-editor {
  background-color: #99c5d2 !important;
  color: white !important;
}

/* Send ico */
.fa-paper-plane {
  color: #113c4f !important;
}

.toolBox-buttons {
  background-color: white;
  border: none;
}

.toolBox-buttons:hover {
  cursor: pointer;
}

#sideChatsMainContainer {
  width: 30%;
  height: 100%;
  /* background-color: black; */
}

@media screen and (max-width: 960px) {
  #sideChatsMainContainer {
    width: 0%;
  }
}

.cardSideChatsMainContainer {
  display: flex;
  align-items: center;
}

.cardSideChats {
  margin: 20px 0;
}

.imgSideChatContainer {
  width: 25px;
  height: 25px;
  background-color: #99c5d2;
  margin-right: 15px;
  border-radius: 50%;
}

.sideChatButtonMobile {
  margin-top: 15px;
  height: 100px;
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: #113c4f;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
